<table border="1">
<div class="row">
    <tr>
        <th>  <p>Растояние которое проедите</p> </th>
        <th>    <input type="number"  name="example" x-moz-errormessage="Please specify a valid email address."> </th>
    </tr>
    <tr>
        <th>   <p>Раход топлива на 100км</p> </th>
        <th>   <input type="number"  name="example" x-moz-errormessage="Please specify a valid email address."> </th>
    </tr>
    <tr>
        <th>  <p>Загруженость машини</p> </th>
        <th>    <input type="number" name="example2" x-moz-errormessage="Please specify a valid email address."> </th>
    </tr>
    <td class="text-center">
        <button type="button" (click)="commingSoon()">Invite</button>
      </td>
</div>
</table>